{% extends 'index.html' %}
{% load static %}
{% block content %}
<div class="container-fluid twocol">
    <div class="row padding">
        <div class="col-md-12 col-lg-6">
              <h3><b>WE PROVIDE
              WORLDWIDE FREIGHT</b></h3>
              <br>

              <p >UM.Fawaz Trading Est a global player engaged in Imports, Exports & Trading was established in 1981. CargoTrack, the forwarding division of UM.Fawaz Trading Est. was incorporated in early 1994 on humble beginnings with only 5 employees. Within a few years, CargoTrack achieved a remarkable growth in the Kingdom and expanded to various regions in the Kingdom as a world-class provider of innovative logistics and supply-chain services and solutions. Our dedicated and experienced professionals always provide you with tailor made logistics solutions, customized to your particular needs.</p>
              <div class="row padding">
                <div class="col-lg-6 col-md-6 col-sm-6">
                        <ul>
                            
                                <li>Consumer Package Good</li>
                                <li>Chemical Good</li>
                                <li>Medicine & Health Support Good</li>
                        </ul>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                          <ul>
                                <li>Food & Bevarage</li>
                                <li>Retail Package Good</li>
                                <li>Energy Oil & Gas</li>
                          </ul>
                </div>
              </div>
        </div>
        <div class="col-lg-6 " style="padding-left: 3rem" >
          <div class="container">
            <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/wnGpDAycrnE" allowfullscreen></iframe>
            </div>
          </div>
        </div>
        
    </div>
    
</div>

{% endblock content %}